@import url('https://fonts.googleapis.com/css2?family=REM:wght@600&display=swap'); /*uses fonts from google api*/

body {
    display: flex;
    background-image: url('./images/bg.jpg'); /*set the background image from a path*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

* { /*sets all margins, and padding to 0*/
    padding: 0;
    margin: 0;
}

.nav { /*Decorating the nav bar*/
    background: linear-gradient(black, dimgray, grey, dimgray);
    height: 98.5vh;
    width: 250px;
    border-style: solid;
    border-color: black;
    border-width: 7px;
}

.nav h1 {
    border-style: solid;
    color: white;
    text-align: center;
    font-family: 'REM', sans-serif;
    user-select: none;
    font-size: 32px;
    padding: 2px;
    text-decoration: underline;
}

.nav ul, li, a { /*For the nav bar, it styles all elements (ul, li & a)*/
    color: white;
    font-family: 'REM', sans-serif; /*using google fonts*/
    font-size: 25px;
    margin-top: 5px;
    padding-left: 5px;
    padding: 5px;
}

.nav a { /*unset all the default hyperlink css (making it into regular text)*/
    all: unset;
}

.content h1 { /*styling the 'index' text*/
    border-style: solid;
    border-color: black;
    width: 200px;
    text-align: center;
    background: linear-gradient(270deg, black, dimgray, grey, dimgray);
    color: white;
    margin-left: 50px;
    margin-top: 25px;
    font-size: 50px;
    font-family: 'REM', sans-serif;
    padding: 10px;
    user-select: none;
}

.content p { /*decorating the paragraph in the page*/
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    background: linear-gradient(270deg, dimgray, grey, dimgray);
    font-family: 'REM', sans-serif;
    margin-left: 200px;
    margin-top: 100px;
    color: white;
    font-size: 20px;
    width: 500px;
    text-align: center;
}