/*--

All the pages are the exact same, only differance is the text, and images so all formatting is the same and can be done-
in much less css lines. This is for code quality rather than having heaps of code doing the same thing as these few lines.

--*/

.content button {
    all: unset;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

.content a {
    all: unset;
}